<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.you.myscript</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/user/full/path/to/script/10_character_cut.py</string>
        <string>/Users/user/full/path/to/folder/</string>
    </array>

    <key>StartInterval</key>
    <integer>30000</integer> <!-- Run every 30000 seconds (8h 20 minutes) -->
    <key>RunAtLoad</key>
    <true/> <!-- Run immediately when loaded -->

    <key>StandardOutPath</key>
    <string>/tmp/10_character_cut.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/10_character_cut.err</string>

    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>

<!-- Save to ~/Library/LaunchAgents/com.user.10_character_cut.plist -->